.grid-main-template {
  display: grid;
  grid-template-columns: 1fr 400px;
  max-height: 100%;
  max-width: 1500px;
  margin: auto;
  transition: grid-template-columns 0.3s ease;

  @media (max-width: 700px) {
    grid-template-columns: 1fr 100%;
  }

  &--second-hidden {
    grid-template-columns: 1fr 0px;
  }

  &__first-column {
    position: relative;
    min-height: calc(100vh - #{$header-height});
    max-height: calc(100vh - #{$header-height});
    overflow: auto;

    &::-webkit-scrollbar {
      width: 5px;
      height: 12px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #aaaaaa;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &__second-column {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}